{
    "announce_channel": 'announce channel id',
    "bump_channel": 'bump channel id where people use disboard ',
    "bump_role": 0,
    "dropuid_channel": 'channel id where it look for uids',
    "events_channel": 'event channel id where it should post in game events',
    "approve_role": 'approve role id',
    "scrutiny": false,
    "scrutiny_role": 'scruting role id',
    "scrutiny_channel": 'scrutiny channel id',
    "mod_role": [
     'mod role ids here without quotes'
    ],
    "leak_channel": 'leaks channel id where it should remove chatting from does not post leaks',
    "questions": [
     "From where did you get the invite from?",
     "Where are you from?"
    ],
    "bump_timer": 7200,
    "token": "bot token",
    "lobby_createvc": 'vc channel id which creates custom lobbies',
    "lobby_category": 'lobby category id',
    "ltoken": 'ltoken here',
    "ltuid": 'ltuid here',
    "prefix": "!",
    "characters": [
     "Albedo",
     "Aloy",
     "Amber",
     "Barbara",
     "Beidou",
     "Bennett",
     "Chongyun",
     "Diluc",
     "Diona",
     "Eula",
     "Fischl",
     "Ganyu",
     "Hutao",
     "Jean",
     "Kazuha",
     "Kaeya",
     "Ayaka",
     "Keqing",
     "Klee",
     "Sara",
     "Lisa",
     "Mona",
     "Ningguang",
     "Noelle",
     "Qiqi",
     "Raiden",
     "Razor",
     "Rosaria",
     "Sayu",
     "Sucrose",
     "Tartaglia",
     "Traveler",
     "Venti",
     "Xiangling",
     "Xiao",
     "Xingqiu",
     "Xinyan",
     "Yanfei",
     "Yoimiya",
     "Zhongli",
     "Dainsleif",
     "Gorou",
     "Kokomi",
     "Thoma",
     "Yae"
    ],
    "domain_channel": 'domain channel id',
    "region": "oslon timezone Asia/Shanghai etc."
   }
   