{
    "announce_channel": "channel id here without string quotes",
    "bump_channel":"channel id here without string quotes",
    "dropuid_channel":"channel id here without string quotes",
    "events_channel":"channel id here without string quotes",
    "approve_role":"role id here without string quotes",
    "scrutiny_role": "role id here without string quotes",
    "mod_role": "role id here without string quotes",
    "token":"token here in quotes",
    "verify_channel":"channel id here without string quotes",
    "lobbycreatevc": "channel id here without string quotes",
    "ltoken": "ltoken here with quotes",
    "ltuid": "ltuid without quotes",
    "prefix":"!",
    "characters": [
        "Albedo",
        "Aloy",
        "Amber",
        "Barbara",
        "Beidou",
        "Bennett",
        "Chongyun",
        "Diluc",
        "Diona",
        "Eula",
        "Fischl",
        "Ganyu",
        "Hu",
        "Jean",
        "Kaedehara",
        "Kaeya",
        "Kamisato",
        "Keqing",
        "Klee",
        "Kujou",
        "Lisa",
        "Mona",
        "Ningguang",
        "Noelle",
        "Qiqi",
        "Raiden",
        "Razor",
        "Rosaria",
        "Sayu",
        "Sucrose",
        "Tartaglia",
        "Traveler",
        "Venti",
        "Xiangling",
        "Xiao",
        "Xingqiu",
        "Xinyan",
        "Yanfei",
        "Yoimiya",
        "Zhongli",
        "Dainsleif",
        "Gorou",
        "Sangonomiya",
        "Thoma",
        "Yae"
        ]
}