{
 "announce_channel": 0,
 "bump_channel": 0,
 "bump_role": 0,
 "dropuid_channel": 0,
 "events_channel": 0,
 "approve_role": 0,
 "scrutiny": false,
 "scrutiny_role": 0,
 "scrutiny_channel": 0,
 "mod_role": [
  0
 ],
 "leak_channel": 0,
 "questions": [
  "From where did you get the invite from?",
  "Where are you from?"
 ],
 "bump_timer": 7200,
 "token": "",
 "lobby_createvc": 0,
 "lobby_category": 0,
 "ltoken": "",
 "ltuid": "",
 "prefix": "!",
 "characters": [
  "Albedo",
  "Aloy",
  "Amber",
  "Barbara",
  "Beidou",
  "Bennett",
  "Chongyun",
  "Diluc",
  "Diona",
  "Eula",
  "Fischl",
  "Ganyu",
  "Hutao",
  "Jean",
  "Kazuha",
  "Kaeya",
  "Ayaka",
  "Keqing",
  "Klee",
  "Sara",
  "Lisa",
  "Mona",
  "Ningguang",
  "Noelle",
  "Qiqi",
  "Raiden",
  "Razor",
  "Rosaria",
  "Sayu",
  "Sucrose",
  "Tartaglia",
  "Traveler",
  "Venti",
  "Xiangling",
  "Xiao",
  "Xingqiu",
  "Xinyan",
  "Yanfei",
  "Yoimiya",
  "Zhongli",
  "Dainsleif",
  "Gorou",
  "Kokomi",
  "Thoma",
  "Yae"
 ],
 "domain_channel": 0,
 "region": "Asia/Karachi",
 "coop_channel": 0,
 "carry_roles": [
 ],
 "asker_id": [
 ],
 "askers_banned": [
 ],
 "owner_id": [
 ]
}